/*------------------------------------------------------------*/
/*BASIC SETUP*/
/*------------------------------------------------------------*/

@import url('https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  height: 100vh;
  overflow: hidden;
}

section {
  overflow: scroll;
  height: 100%;
}

/*------------------------------------------------------------*/
/*REUSABLE STYLES*/
/*------------------------------------------------------------*/

section {
  padding: 80px 0 50px 0;
}

.flex {
  display: flex;
}

/*------------------------------------------------------------*/
/*HEADINGS*/
/*------------------------------------------------------------*/

h2 {
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

/*------------------------------------------------------------*/
/*LINK*/
/*------------------------------------------------------------*/

.main-nav a:link,
.main-nav a:visited {
  color: #545252;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.6s, color 0.6s;
  transition: border-bottom 0.6s, color 0.6s;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-nav a:hover,
.main-nav a:active {
  color: #555;
  border-bottom: 2px solid #2ee59d;
}

/*------------------------------------------------------------*/
/*OTHER*/
/*------------------------------------------------------------*/

.toolbar {
  height: 75px;
  align-items: center;
  box-shadow: 0 8px 20px 0 rgba(218, 224, 235, 0.6);
  padding: 0 50px;
}

.main-name {
  font-size: 25px;
  font-weight: 900;
}

.main-nav {
  list-style: none;
  margin-left: auto;
}

.main-nav li {
  margin-left: 40px;
}

.cube-section {
  width: 40%;
  display: flex;
  justify-content: center;
}

.main-desc {
  height: 80%;
  padding-top: 5%;
  display: flex;
}

.desc-section {
  margin-left: 50px;
  width: 60%;
}

.desc-section h2 {
  text-align: start;
}

.btn-main-desc {
  font-size: 18px;
  border: none;
  outline: 0;
  padding: 10px;
  border-radius: 5px;
  width: 110px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-color: #2ee59d;
  cursor: pointer;
  color: #fff;
  margin-top: 15px;
}

.ripple {
  background-position: center;
  transition: background 0.9s;
}
.ripple:hover {
  background: #2ee59d radial-gradient(circle, transparent 1%, #2ee59d 1%)
    center/15000%;
}
.ripple:active {
  background-color: #56946f;
  background-size: 100%;
  transition: background 0s;
}

.category {
  padding: 50px 50px;
  background-color: #f7f9fc;
  border-top-right-radius: 55px;
  border-top-left-radius: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.html-css-design,
.angular-design {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(130, 130, 130, 0.24),
    0 1px 2px rgba(130, 130, 130, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 8px;
  margin: 40px 0;
  width: 80%;
}

.html-css-design:hover,
.angular-design:hover {
  box-shadow: 0 8px 24px 0 rgba(0, 31, 97, 0.07);
}

.html-css-design img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.angular-design img {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.html-css-img,
.angular-img {
  width: 40%;
  height: 50%;
}

.html-css-text,
.angular-text {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0px 40px;
  align-items: center;
  justify-content: center;
}

.html-css-text h2,
.angular-text h2 {
  color: rgba(13, 28, 46, 0.5);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
}

.html-css-text p,
.angular-text p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 26px;
}

.btn-watch {
  background: #fff;
  border: none;
  outline: 0;
  font-size: 16px;
  padding: 6px 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.5s;
}

.btn-watch:hover {
  background: #ececec;
}

.btn-watch a:link,
.btn-watch a:visited {
  text-decoration: none;
  color: #000;
}

.btn-watch a:hover,
.btn-watch a:active {
  color: #56946f;
}

.footer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  background-color: #f9f9f9;
  border-top: 1px solid;
  border-top-color: #e8e8e8;
}

.footer img {
  width: 60px;
}

.copyright {
  font-size: 13px;
}

.youtube a {
  font-size: 35px;
  color: #dedee6;
  cursor: pointer;
}

/* --------------   cube code    ----------------*/

.cube {
  transform: rotateX(-30deg) rotateY(0) translateZ(0);
  transform-origin: 50px 50px -50px;
  transform-style: preserve-3d;
  position: relative;
  width: 100px;
  height: 100px;
  animation: rotate 8000ms linear infinite;
}
.cube div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: #d3d3d3;
  opacity: 0.75;
}
.cube div:nth-child(1) {
  background: #f9f9f9;
  transform-origin: center top;
  transform: rotateX(90deg) translateY(-100px);
  animation: top-init 4000ms ease-in-out 2,
    top 4000ms ease-in-out 8000ms infinite;
}
.cube div:nth-child(2) {
  background: #f5f5dc;
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100px);
  animation: bottom-init 4000ms ease-in-out 4,
    bottom 4000ms ease-in-out 8000ms infinite;
}
.cube div:nth-child(3) {
  background: #228b22;
  transform-origin: left center;
  transform: rotateY(-90deg) translateX(-100px);
  animation: left-init 4000ms ease-in-out 4,
    left 4000ms ease-in-out 8000ms infinite;
}
.cube div:nth-child(4) {
  background: #8cc07f;
  transform-origin: right center;
  transform: rotateY(90deg) translateX(100px);
  animation: right-init 4000ms ease-in-out 4,
    right 4000ms ease-in-out 8000ms infinite;
}
.cube div:nth-child(5) {
  background: #93d36d;
  transform-origin: center center;
  transform: rotateX(0);
  animation: front-init 4000ms ease-in-out 4,
    front 4000ms ease-in-out 8000ms infinite;
}
.cube div:nth-child(6) {
  background: #d3d3d3;
  transform-origin: center center;
  transform: rotateY(180deg) translateZ(100px);
  animation: back-init 4000ms ease-in-out 4,
    back 4000ms ease-in-out 8000ms infinite;
}
@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0) translateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) translateZ(0);
  }
}
@keyframes top {
  0% {
    transform: rotateX(90deg) translateY(-100px) translateZ(0);
  }
  50% {
    transform: rotateX(90deg) translateY(-100px) translateZ(100px);
  }
  100% {
    transform: rotateX(90deg) translateY(-100px) translateZ(0);
  }
}
@keyframes top-init {
  0% {
    transform: rotateX(90deg) translateY(-100px) translateZ(0);
  }
  50% {
    transform: rotateX(90deg) translateY(-100px) translateZ(50px);
  }
  100% {
    transform: rotateX(90deg) translateY(-100px) translateZ(0);
  }
}
@keyframes bottom {
  0% {
    transform: rotateX(-90deg) translateY(100px) translateZ(0);
  }
  50% {
    transform: rotateX(-90deg) translateY(100px) translateZ(100px);
  }
  100% {
    transform: rotateX(-90deg) translateY(100px) translateZ(0);
  }
}
@keyframes bottom-init {
  0% {
    transform: rotateX(-90deg) translateY(100px) translateZ(0);
  }
  50% {
    transform: rotateX(-90deg) translateY(100px) translateZ(50px);
  }
  100% {
    transform: rotateX(-90deg) translateY(100px) translateZ(0);
  }
}
@keyframes left {
  0% {
    transform: rotateY(-90deg) translateX(-100px) scaleY(1);
  }
  50% {
    transform: rotateY(-90deg) translateX(-100px) scaleY(3);
  }
  100% {
    transform: rotateY(-90deg) translateX(-100px) scaleY(1);
  }
}
@keyframes left-init {
  0% {
    transform: rotateY(-90deg) translateX(-100px) translateZ(0);
  }
  50% {
    transform: rotateY(-90deg) translateX(-100px) translateZ(50px);
  }
  100% {
    transform: rotateY(-90deg) translateX(-100px) translateZ(0);
  }
}
@keyframes right {
  0% {
    transform: rotateY(90deg) translateX(100px) scaleY(1);
  }
  50% {
    transform: rotateY(90deg) translateX(100px) scaleY(3);
  }
  100% {
    transform: rotateY(90deg) translateX(100px) scaleY(1);
  }
}
@keyframes right-init {
  0% {
    transform: rotateY(90deg) translateX(100px) translateZ(0);
  }
  50% {
    transform: rotateY(90deg) translateX(100px) translateZ(50px);
  }
  100% {
    transform: rotateY(90deg) translateX(100px) translateZ(0);
  }
}
@keyframes front {
  0% {
    transform: rotateX(0) scaleY(1);
  }
  50% {
    transform: rotateX(0) scaleY(3);
  }
  100% {
    transform: rotateX(0) scaleY(1);
  }
}
@keyframes front-init {
  0% {
    transform: rotateX(0) translateZ(0);
  }
  50% {
    transform: rotateX(0) translateZ(50px);
  }
  100% {
    transform: rotateX(0) translateZ(0);
  }
}
@keyframes back {
  0% {
    transform: rotateY(180deg) translateZ(100px) scaleY(1);
  }
  50% {
    transform: rotateY(180deg) translateZ(100px) scaleY(3);
  }
  100% {
    transform: rotateY(180deg) translateZ(100px) scaleY(1);
  }
}
@keyframes back-init {
  0% {
    transform: rotateY(180deg) translateZ(100px) translateZ(0);
  }
  50% {
    transform: rotateY(180deg) translateZ(100px) translateZ(50px);
  }
  100% {
    transform: rotateY(180deg) translateZ(100px) translateZ(0);
  }
}

/* --------------   cube code ends  ----------------*/
